:root {
    --primary-color: #efc9af;
    --secondary-color: #104c91;
    --tertiary-color: #1f8ac0;
    --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem);
    --spacing-five: calc(2.5rem);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 90%;
    padding: 60px 60px;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(239,201,175,0.3);
}

/* Header Style */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 35px;
  background-color: var(--secondary-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin:0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a{
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}
button {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 1px;
    background-color: var(--secondary);
}

button:hover {
    opacity: .8;
}

button[disabled] {
    cursor: default;
    opacity: .8;
}

img {
    max-width: 115%;
}

span[role="img"] {
    cursor: default;
}

.mx-2 {
    margin-right: var(--spacing-two);
    margin-left: var(--spacing-two);
}

.px-1 {
    padding-right: var(--spacing-one);
    padding-left: var(--spacing-one);
}

li {
    list-style: none;
}

nav {
    font-size: 20px;
}
  
nav a:hover {
    text-decoration: none;
}
  
nav  li {
    cursor: pointer;
}

.navActive {
    color: var(--secondary);
  }



/* About Me Style */

.my-5 {
    margin-top: var(--spacing-five);
    margin-bottom: var(--spacing-five);
}

.intro {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-title {
  font-size: 48px;
  color: var(--secondary-color);
  border-bottom: 3px solid;
  padding: 20px 0;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.about {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.about img {
  flex: 1 50%;
  border-radius: 8px;
  width: 50%;
  margin: 20px auto;
}

.about p {
  order: 2;
  flex-basis: 50%;
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 100%;
  font-size: 20px;
  margin: 40px;
  text-align: justify;
}




/* Contact section */

.contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  margin: 50px auto;
}

.contact ul li a{
  padding: 10px 15px;
  font-size: 1.55vw;
  text-decoration: none;
  color: var(--tertiary-color)
}

.contact ul li a:hover {
  color: var(--secondary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Footer */

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 50px;
    margin-top: -50px;
  }
  
  .linkedinLogo,
  .githubLogo {
    width: 100px;
    height: 50px;
    margin-bottom: 50px;
    cursor: pointer;
  }


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }

  header h1 {
      width: 100%;
      text-align: center;
  }

  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }

  header nav ul li a {
      font-size: 20px;
  }

  .section-title {
      width: 80%;
  }

  .about {
    flex-flow: column;
    padding-bottom: 0;
  }

  .about p {
    text-align: center;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .section-title {
      width: 95%;
  }

  .intro p {
      width: 100%;
  }
}
